/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers
#define DEFAULT   0
#define LOWER     1
#define RAISE     2
#define ADJUST    3

&mt {
  flavor = "balanced";
  tapping-term-ms = <125>;
  retro-tap;
};

/ {

  combos {
    compatible = "zmk,combos";
    combo_esc {
      timeout-ms = <50>;
      key-positions = <16 17>; // jk
      bindings = <&kp ESC>;
    };

    combo_tab_qw {
      timeout-ms = <50>;
      key-positions = <0 1>; // qw
      bindings = <&kp TAB>;
    };

    combo_tab_df {
      timeout-ms = <50>;
      key-positions = <12 13>; // df
      bindings = <&kp TAB>;
    };

    combo_quot {
      timeout-ms = <50>;
      key-positions = <18 19>; // l;
      bindings = <&kp SINGLE_QUOTE>;
    };

    combo_bslash {
      timeout-ms = <50>;
      key-positions = <8 9>;
      bindings = <&kp BACKSLASH>;
    };

    combo_bootloader {
      timeout-ms = <50>;
      key-positions = <0 10 20>; // left column
      bindings = <&bootloader>;
    };

  };

  keymap {
    compatible = "zmk,keymap";

    layer_default {
      display-name = "Default";
      bindings = <
        &kp Q &kp W &kp E &kp R &kp T 						&kp Y &kp U  &kp I    &kp O   &kp P
        &mt LCTL A &kp S &kp D &kp F &kp G 			      &kp H &kp J &kp K &kp L &mt RCTL SCLN
        &mt LSFT Z &kp X &kp C &kp V &kp B			  &kp N &kp M  &kp CMMA &kp DOT &mt LSFT SLASH
        &kp LGUI &lt LOWER SPC                    &lt RAISE SPC &kp RALT
        >;
    };

    layer_lower {
      display-name = "Lower";
      bindings = <
        &kp NUM_1  &kp NUM_2    &kp NUM_3    &kp NUM_4    &kp NUM_5		&kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0
        &kp TAB    &trans       &trans       &trans       &trans		  &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans
        &trans     &trans 	    &trans       &trans       &trans 	    &trans    &trans    &trans    &trans    &trans
        &kp LGUI &lt ADJUST SPC                    &lt ADJUST SPC &kp RALT
        >;
    };

    layer_raise {
      display-name = "Raise";
      bindings = <
        &kp GRAVE   &trans 	    &trans       &trans       &trans 	    &trans      &kp MINUS     &kp EQUAL    &kp LBKT   &kp RBKT
        &kp TAB     &trans      &trans       &trans       &trans		  &kp LEFT    &kp DOWN      &kp UP       &kp RIGHT  &kp BKSP
        &trans      &trans      &trans       &trans       &trans		  &trans      &trans        &trans       &trans     &mt LSFT ENTER
        &kp LGUI &lt ADJUST SPC                    &lt ADJUST SPC &kp RALT
        >;
    };

    layer_adjust {
      display-name = "Adjust";
      bindings = <
        &kp NUM_1  &kp NUM_2    &kp NUM_3    &kp NUM_4    &kp NUM_5 			&studio_unlock &trans   &trans   &trans  &trans
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5  						&trans &kp PG_UP  &kp K_VOL_UP &kp K_MUTE &trans
        &bt BT_CLR  &bt BT_NXT &bt BT_PRV &kp F6 &kp F7   				&trans &kp PG_DN  &kp K_VOL_DN  &trans &trans
        &trans &trans  					&trans &trans
        >;
    };

    layer_studio_4 {
      status = "reserved";
      display-name = "Studio 4";
    };

    layer_studio_5 {
      status = "reserved";
      display-name = "Studio 5";
    };

    layer_studio_6 {
      status = "reserved";
      display-name = "Studio 6";
    };

    layer_studio_7 {
      status = "reserved";
      display-name = "Studio 7";
    };

  };
};
